.road {
  position: relative;
  bottom: 200px;
}

.bus {
  position: absolute;
  width: 340px;
  height: 92px;
  border-radius: 10px;
  top: 75px;
  background-image: url('./assets/bus.png');
  background-size: cover;
}

.bus.left {
  animation: moveLeft 15s linear infinite;
  top: 45px;
}

.bus.left .frontwheel,
.bus.left .backwheel {
  position: absolute;
  width: 32px;
  animation: rotate 3s linear infinite;
  bottom: 1px;
}

.bus.left .frontwheel {
  right: 56px;
}

.bus.left .backwheel {
  left: 95px;
}

.bus_left_2,
.bus_left_3,
.bus_left_4,
.bus_left_5 {
  animation: moveLeft 15s linear infinite;
  left: -500px;
  top: 75px;
  -webkit-animation: moveLeft 15s linear infinite;
}

.bus_left_2 { animation-delay: 5s !important; }
.bus_left_3 { animation-delay: 10s !important; }
.bus_left_4 { animation-delay: 15s !important; }
.bus_left_5 { animation-delay: 20s !important; }

@keyframes moveLeft {
  0% { left: 0; }
  100% { left: 100%; }
}

@keyframes moveRight {
  0% { right: 0; }
  100% { right: 100%; }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate2 {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.bus.right {
  animation: moveRight 15s linear infinite;
  top: 90px;
  background-image: url('./assets/bus1.png');
}

.bus_right_2,
.bus_right_3,
.bus_right_4,
.bus_right_5 {
  animation: moveRight 15s linear infinite;
  right: -500px;
  -webkit-animation: moveRight 15s linear infinite;
}

.bus_right_2 { animation-delay: 5s !important; top: 110px; }
.bus_right_3 { animation-delay: 10s !important; top: 110px; }
.bus_right_4 { animation-delay: 15s !important; top: 110px; }
.bus_right_5 { animation-delay: 20s !important; top: 110px; }

.bus.right .frontwheel,
.bus.right .backwheel {
  position: absolute;
  width: 32px;
  animation: rotate2 3s linear infinite;
  bottom: 1px;
}

.bus.right .frontwheel {
  right: 92px;
}

.bus.right .backwheel {
  left: 58px;
}

.road-car {
  height: auto;
  padding-top: 80px;
  margin-top: 160px;
  margin-bottom: -7px;
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .bus {
    width: 255px;
    height: 69px;
  }

  .road-car {
    padding-top: 100px;
  }

  .road {
    bottom: 180px;
  }

  .bus.left {
    top: 65px;
  }

  #main-wrapper {
    background-size: 100% 95% !important;
    background-position: 100% -70px !important;
  }

  .bus.right .frontwheel {
    right: 71px !important;
    width: 23px !important;
  }

  .bus.right .backwheel {
    width: 23px;
    left: 46px;
  }

  .bus.left .frontwheel {
    width: 23px !important;
    right: 41px;
  }

  .bus.left .backwheel {
    width: 23px;
    left: 73px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  #main-wrapper {
    background-size: cover !important;
    background-position: center !important;
  }

  h2 {
    font-size: 40px !important;
  }

  .road-car {
    margin-bottom: -8px;
  }

  .bus.left {
    top: 75px;
  }
}

@media screen and (max-width: 767.98px) {
  #main-wrapper {
    background-size: cover !important;
    background-position: center !important;
  }

  .road {
    display: block !important;
    bottom: 145px;
  }

  .road-car {
    margin-bottom: 37px;
    margin-top: 70px;
  }

  .bus.right .backwheel {
    width: 14px;
    left: 26px;
  }

  .bus.left .backwheel {
    width: 14px;
    left: 42px;
  }

  .road_image {
    height: 70px !important;
  }

  .bus {
    width: 150px;
    height: 40px;
  }

  .bus.right {
    top: 87px;
  }

  footer {
    position: absolute !important;
    bottom: 0 !important;
  }
}

@media screen and (max-width: 575.98px) {
  body {
    background: #fff;
  }

  #header .navbar {
    padding: 10px 0;
    background-color: #fff !important;
    margin-top: 0 !important;
    position: static !important;
  }

  footer {
    padding: 5px;
    position: static !important;
  }

  footer p.text-3 {
    font-size: 11px !important;
  }

  .road-car {
    position: static !important;
    margin: 0 0 -7px;
    padding-top: 20px;
  }

  .road_image {
    height: 70px !important;
  }

  .bus {
    width: 111px;
    height: 30px;
  }

  .road {
    bottom: 130px;
  }

  .bus.right {
    top: 80px;
  }

  .bus.left .frontwheel {
    width: 14px;
    bottom: -1px;
    right: 17px;
  }

  .bus.left .backwheel {
    width: 14px;
    bottom: -1px;
    left: 28px;
  }

  .bus.right .frontwheel {
    width: 14px;
    bottom: -1px;
    right: 29px;
  }

  .bus.right .backwheel {
    width: 14px;
    bottom: -1px;
    left: 19px;
  }

  #main-wrapper {
    background-image: unset !important;
    display: none !important;
  }

  .main-content {
    position: static !important;
    height: 100%;
  }

  .main-content > div,
  .hero-wrap,
  .hero-wrap .hero-content {
    height: 100% !important;
  }

  .content-main {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
  }

  .content-main .row {
    padding: 20px 0 0 !important;
  }

  .main-content .bottom-part {
    position: absolute !important;
    bottom: 0 !important;
    height: auto !important;
  }

  .content-main h2 {
    font-size: 40px !important;
    margin-top: 0 !important;
  }

  .para {
    margin-top: 20px;
  }
}
